@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.header-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(4, 3, 3, 0.631);
  transition: 0.5s;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.Nav-menu {
  display: flex;
  list-style: none;
}

.Nav-menu li {
  margin-left: 1rem;
}

.Nav-menu li a {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
a,
p {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(223, 181, 28);
  color: black;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-white {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgb(177, 177, 177);
  color: #fff;
  transition: 0.3s;
}

.btn-white:hover {
  background: rgb(177, 177, 177);
  color: #fff;
  transition: 0.3s;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .Nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .Nav-menu.active {
    left: 0;
  }

  .Nav-menu li {
    padding: 1rem 0;
  }

  .Nav-menu li a {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .hamburger {
    display: initial;
  }
}
